@media screen and (max-width: 992px) {
    #profile-info {
      display: none;
    }
    #message {
        display: none;
    }
    
  }


.contact {
  text-decoration: none;
  color: black
}
.contact:hover {
  background-color: gray;
}